body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'header header'
    'main main'
    'aside aside'
    'footer footer'
    ;
}

header {
    position: relative;
    background: black;
    color: white; 
    padding: 10px; 
    font-size: 1.5rem; 
   
}

h3 { 
    text-align: center;
}

nav {
    display: none;
    position: absolute;
    background: black; 
    left: 0px; 
    

}

nav,
#menu-checkbox {
    background: black;
    color: white;
    display: none;
    
}
a {
    color: white;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav a {
    display: block;
    color: white;
    padding: 10px 80px;
    font-size: 1rem;
    

}

nav a:hover {
    text-decoration: underline;
}


nav ul {
    list-style: none; 
    display: inline; 
    padding: 0; 
}


@media (min-width: 600px){
    nav {
        display: block;
        position: static;

    }
    
    .hambuger-icon {
        display: none; 
    }

    nav a {
        display: inline-block;
    }
}

main {
    background-color: black;
    color: white;
    text-align: center;
}



.text-image {
    position: absolute;
    right: 10px;
    bottom: 2px;
    padding: 10px;
    width: 40%;
    text-align: right;

}

.button1 {
    background: #ef952b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    right: 10px; 
    text-decoration: solid;
    font-weight: bold;
    position: absolute; 
    text-transform: uppercase;

}

.button2 {
    background: white;
    color: black;
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    text-decoration: solid;
    position: relative; 


    

}

.right1 {
    padding-bottom: 0px;
    right: 10px;
    position: flex;
}

.left1 {
    position: flex; 
    text-align: left;
    padding-bottom: 0px;


}

.positioned {
    text-align: center;
    position: relative;
    
 }

 .item {
    padding: 0px;
    margin: 10px;
    max-width: 150px;  
    position: flex;

 }

 .floated {
    float: left; 
 }

 section::after {
    content: '';
    clear: both; 
    display: table;
 }
 .text-link {
    position: relative;
    padding: 40px; 
 }


.buttonabout {
    background: #ef952b;
    color: white;
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block;
    text-decoration: solid;
    text-align: center;
    text-transform: uppercase;
    position: flex;

 }

.osbotton {
    background:#ef952b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px; 
    display: inline-block; 
    margin: 6px;
    text-decoration: solid; 
    font-weight: bold; 
    text-transform: uppercase;
    

 }

.moviebutton {
    background: white; 
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    text-decoration: solid;
    position: flex;


 }


.below {
    background-color: black;
    color: white;
    text-align: left;
    padding: 40px;

}

.box1 {
    background-color: white;
    color: black;
    text-align: center;
}

.grid1 {
    display: grid;
    min-height: 10vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;


}


.grid2 {
    display: grid;
    min-height: 50vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    position: relative;


}

.grid3 {
    display: grid;
    min-height: 50vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-rows: 1fr;
    width: 70%;
    position: relative;


}


.box2 {
    background-color: white;
    color: black;
    text-align: center;
}

.box3 {
    background-color: white;
    color: black;
    text-align: center;
}

.moviegrid {
    background: black;
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;

}

.alsolikegrid {
    background: black;  
    display: grid; 
    grid-gap: 0.5em; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    padding: 40px; 
    align-items: center;
}

.trailergrid {
    background:black; 
    display: grid; 
    grid-template-columns: 100%;
    padding: 40px;
    align-items: center;
    position: flex;
    width: 100%;
    
}

.allmoviesgrid {
    background: black;  
    display: grid; 
    grid-gap: 0.5em; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 40px;
    align-items: center; 
}

.h2align {
    text-align: center;
}

.pmovie {
    width: 50%;
    text-align: left;
    position: relative;
}

.pmovie1 {
    width: 50%;
    text-align: left;
    position: relative;
    padding-top: 100px;
}

.pricemovie {
    width: 50%;
    text-align: left;
    position:relative;
    font-weight: bold; 
    font-size: 1.5rem;
}



.playbutton {
    position: absolute;
    width: 50%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

   
}

.ordersummary {
    background: white;
    color: black;
    text-align: left;
    padding: 50px; 
    width: 70%;
    align-items: center;
    position: relative; 
    
}


.totalprice {
    text-align: left;
    padding-left: 100px; 
    padding-right: 100px; 
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;  
    
}

.rightprice {
    text-align: right;
    padding-left: 100px; 
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;

}

.form {

    background: white; 
    color: black; 
    padding: 90px; 
    width: 70%; 
    position: relative; 

}

.p2 {
    font-weight: bold;
    font-size: 1rem;
}

.cobutton {
    background: rgb(38, 193, 38);
    color: white;
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    text-decoration: solid; 
    text-transform: uppercase;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: flex;
    

    
}

header{grid-area: header;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}
