body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
      "header header"
      "main main"
      "aside aside"
      "footer footer";
  }
  
  
  
  header {
    position: relative;
    background: black;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
  }
  
  .logo {
    width: 10%;
    height: 5%;
    position: static;
  }
  
  h1 {
    text-align: center;

  }
  
  h3 {
    text-align: center;
  }
  
  nav {
    display: none;
    position: absolute;
    background: black;
    left: 0px;
  }
  
  .sizeimages {
    width: 100%;
    height: 100%;
  }

  .moviesize {
    width: 50%; 
  }
  
  .backgroundimage {
    width: 100%;
    display: block; 
    height: auto; 
  }
  
  nav,
  #menu-checkbox {
    background: black;
    color: white;
    display: block;
  }

  a {
    color: white;
  }
  
  #menu-checkbox:checked ~ nav {
    display: block;
  }
  
  nav a {
    display: block;
    color: white;
    padding: 10px 80px;
    font-size: 1rem;
    margin-left: 10px;
    text-decoration: none;
  }
  .container-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  .link {
    margin: 0 10px;
    padding: 0px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
  }
  
  .nav :hover {
    text-decoration: underline;
  }
  
  nav ul {
    list-style: none;
    display: inline;
    padding: 0;
  }
  
  .shopping {
    height: 15%;
    width: 15%;
    background: black;
    color: white;
    padding: 0px 0px;
  }

  .menu {
    display: flex; 
  }

  #menu-toggle:checked + label + .menu {
    display: block; 
  }
  
  @media (min-width: 600px) {
    nav {
      display: block;
      position: static;
      margin-top: 0;
    }
  
    .hambuger-icon {
      display: flex;
    }
  
    nav a {
      display: inline-block;
      margin-left: 20px;
    }
  
    .container-nav-bar {
      display: relative;
    }
  
    .item {
      position: relative;
    }
  

  }
  
  main {
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .text-image {
    position: absolute;
    right: 10px;
    bottom: 20%;
    padding: 10px;
    width: 40%;
    text-align: right;
  }
  
  .movie-container {
    width: 100%;
    height: 60vh;
  }
  
  .button1 {
    background: #ef952b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    right: 10px;
    text-decoration: solid;
    font-weight: bold;
    text-transform: uppercase;
    margin: 6px;
  }
  
  .button2 {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 6px;
    text-decoration: solid;
    right: 10px;
  }
  
  .right1 {
    padding-bottom: 0px;
    padding: 10px 0px;
    position: flex;
  }
  
  .right2 {
    position: flex;
    padding: 10px 0px;
    padding-left: 0px;
  }
  
  .left1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 50%;
  }
  
  .positioned {
    text-align: center;
    position: relative;
    padding: 0px 30%;
  }
  
  .extrapadding {
    padding-top: 30px;
  }
  
  .item {
    padding: 0px;
    margin: 10px;
    max-width: 150px;
    position: flex;
    flex-basis: 20px;
  }
  
  .floated {
    float: left;
  }
  
  section::after {
    content: "";
    clear: both;
    display: table;
  }
  .text-link {
    position: relative;
    padding: 40px;
  }



  
  .buttonabout {
    background: #ef952b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: solid;
    text-align: center;
    text-transform: uppercase;
    position: flex;
  }
  
  .osbotton {
    background: #ef952b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    text-decoration: solid;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .moviebutton {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    text-decoration: solid;
    position: flex;
  }
  
  .below {
    color: white;
    background-color: black;
    text-align: left;
    padding: 70px 40px;
  }
  
  .box1 {
    background-color: white;
    color: black;
    text-align: center;
  }

  .imgsmall {
    height: 30%; 
    width: 30%; 
  }

  .iconsmall {
    height: 10%; 
    width: 10%; 
    padding-top: 20px; 
  }

  .cardicon {
    height: 20%; 
    width: 20%; 
  }
  
  .grid1 {
    display: grid;
    min-height: 50vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
  }
  
  .grid2 {
    display: grid;
    min-height: 50vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    position: relative;
  }
  
  .grid3 {
    display: grid;
    min-height: 50vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-rows: 1fr;
    width: 70%;
    position: relative;
  }
  
  .box2 {
    background-color: white;
    color: black;
    text-align: center;
  }
  
  .box3 {
    background-color: white;
    color: black;
    text-align: center;
  }
  
  .moviegrid {
    background: black;
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }
  
  .alsolikegrid {
    background: black;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 40px;
    align-items: center;
  }
  
  .trailergrid {
    position: relative; 
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  
  .allmoviesgrid {
    background: black;
    display: grid;
    flex-wrap: wrap;
    grid-gap: 0.5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0px 30px;
    align-items: center;
  }

  .movie-item {
    margin-bottom: 20px; 
    
  }

  .movie-text {
    margin-top: 10px; 
  }
  



  @media (max-width: 1000px) {
    .movie-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .container-nav-bar {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .navbar {
        flex-direction: column;
        
    }

  
    .text-image {
      position: relative;
      text-align: center;
      width: 100%;
      padding-top: 5px;
    }

    .moviegrid {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: 1fr; 
      text-align: center;
    }

    
    .movie-item { 
      width: 600px;
      display: relative; 
      flex-direction: grid;
      align-items: center; 
      left: 25%; 
      right: 25%; 


     
    }

    .box3 {
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      width: 100%; 

    }

    .form {
      width: 100%; 
      padding: 20px; 
    }

    .form_input {
      width: 100%; 
      margin-bottom: 10px; 
    }

    .cobutton {
      width: 50%; 
      text-align: center; 
    }

    .movie-text {
      position: relative; 
      text-align: center;
      width: 100%; 
      padding-left: 25%; 
      padding-right: 25%; 


    }

    .leftalign {
      position: relative;
      left: 25%; 

    }
    .shopping {
      left: 0px; 
  
    }
  
    .button1 {
      position: relative;
      margin: auto;
      margin-bottom: auto;
    }
  
    .allmoviesgrid {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .alsolikegrid {
      display: flex;
      flex-direction: column; 
      gap: 10px; 
    }

    .grid1 {
      display: grid; 
      grid-template-columns: 1fr; 
      gap: 10px;  

    }

    .imgsmall {
      width: 100%; 
    }

    

    section.ordersummary {
      padding: -10px; 
      margin: -50px; 
      padding: 5 0px; 
      align-items: center;
    } 


   

    .iconsmall {
      width: 30px; 
      height: 30px; 
    }

  .menu {
    text-align: center; 
  }

  
    .grid2 {
      display: grid; 
      grid-template-columns: 1fr 1fr;  
      text-align: center;
      left: -100px;
    }

  
    }

    .grid3 {
      display: flex; 
      flex-direction: column;
      grid-template-columns: 1fr;  
    }

    .ordersummary {
      display: flex; 
    }
  
    .below {
      text-align: center;

    }
  
    .text-link {
      text-align: center;
    }
  
    .aboutgrid {
      display: flex;
    }
  
  .h2align {
    text-align: center;
  }
  
  .pmovie {
    width: 50%;
    text-align: left;
    position: relative;
  }
  
  .pmovie1 {
    width: 50%;
    text-align: left;
    position: relative;
    padding-top: 100px;
  }
  
  .pricemovie {
    width: 50%;
    text-align: left;
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .playbutton {
    position: absolute;
    width: 20%; 
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 2; 

  }
  
  .ordersummary {
    background: white;
    color: black;
    text-align: left;
    padding: 50px;
    width: 70%;
    align-items: center;
    position: relative;
    left: 10%; 
    right: 10%; 
  }
  
  .totalprice {
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
  }
  
  .rightprice {
    text-align: right;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
  }
  
  .form {
    background: white;
    color: black;
    padding: 90px;
    width: 70%;
    position: relative;
  }
  
  .p2 {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .cobutton {
    background: rgb(38, 193, 38);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    text-decoration: solid;
    text-transform: uppercase;
  }
  
  .leftalign {
    text-align: left;
  }
  
  .position-some-icons {
    height: 50px;
    width: 50px;
  }
  
  footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: auto;
  }
  
  header {
    grid-area: header;
  }
  main {
    grid-area: main;
  }
  aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  