body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'header header'
    'main main'
    'aside aside'
    'footer footer'
    ;
}



header {
    background-color: white;
    color: black;
}

main {
    background-color: white;
    color: black;
}

aside {
    background-color: white;
    color: black;
}

footer {
    background-color: white;
    color: black;
    
}

header{grid-area: header;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}