body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
    'header header'
    'main main'
    'aside aside'
    'footer footer'
    ;
}

header {
    position: relative;
    background: black;
    color: white; 
    padding: 10px; 
    font-size: 1.5rem; 
   
}

.logo {
   width: 10%;
   height: 5%; 
   position: static; 
}

h3 { 
    text-align: center;
}

nav {
    display: none;
    position: absolute;
    background: black; 
    left: 0px; 
    
}

.sizeimages {
    height: 50%; 
    width: 100%; 

}

.backgroundimage {
    width: 100%; 
}


nav,
#menu-checkbox {
    background: black;
    color: white;
    display: none;
    
}
a {
    color: white;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

nav a {
    display: block;
    color: white;
    padding: 10px 80px;
    font-size: 1rem;
    

}
.container-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
 
    

}

.link {
    margin: 0 10px;
    padding: 0px;
    

}

.navbar {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;

}

nav a:hover {
    text-decoration: underline;
}


nav ul {
    list-style: none; 
    display: inline; 
    padding: 0; 
}

.shopping {
    height: 15%;
    width: 15%;
    background: black;
    color: white;
    display: in-block; 


}


@media (min-width: 600px){
    nav {
        display: block;
        position: static;

    }
    
    .hambuger-icon {
        display: flex;
    }

    nav a {
        display: inline-block;
    }

    .container-nav-bar {
        display: relative;
         
    }

    .item { 
        position: flex; 
    

    }
}

main {
    background-color: black;
    color: white;
    text-align: center;
}



.text-image {
    position: absolute;
    right: 10px;
    bottom: 20%;
    padding: 10px;
    width: 40%;
    text-align: right;


}

.movie-container {
    width: 100%;
    height: 60vh;

}





.button1 {
    background: #ef952b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    right: 10px; 
    text-decoration: solid;
    font-weight: bold;
    position: absolute; 
    text-transform: uppercase;

}



.button2 {
    background: white;
    color: black;
    padding: 10px 20px; 
    border-radius: 5px;
    
    margin: 6px;
    text-decoration: solid;
    


    

}

.right1 {
    padding-bottom: 0px;
    right: 10px;
    position: flex;
}

.left1 {
   display: flex;
   flex-direction: row;
   gap:20px;
   position: absolute;
   top: 50%;
  


}

.positioned {
    text-align: center;
    position: relative;
    padding: 0px 30%; 

}

    

.extrapadding {
    padding-top: 30px;
}
    

 .item {
    padding: 0px;
    margin: 10px;
    max-width: 150px;  
    position: flex;

 }

 .floated {
    float: left; 
 }

 section::after {
    content: '';
    clear: both; 
    display: table;
 }
 .text-link {
    position: relative;
    padding: 40px; 
 }


.buttonabout {
    background: #ef952b;
    color: white;
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block;
    text-decoration: solid;
    text-align: center;
    text-transform: uppercase;
    position: flex;

 }

.osbotton {
    background:#ef952b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px; 
    display: inline-block; 
    margin: 6px;
    text-decoration: solid; 
    font-weight: bold; 
    text-transform: uppercase;
    

 }

.moviebutton {
    background: white; 
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    text-decoration: solid;
    position: flex;


 }


.below {
    background-color: black;
    color: white;
    text-align: left;
    padding: 40px;

}

.box1 {
    background-color: white;
    color: black;
    text-align: center;
}

.grid1 {
    display: grid;
    min-height: 50vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;

}


.grid2 {
    display: grid;
    min-height: 50vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    position: relative;


}

.grid3 {
    display: grid;
    min-height: 50vh;
    grid-gap: 1em;
    padding: 100px;
    grid-template-rows: 1fr;
    width: 70%;
    position: relative;


}


.box2 {
    background-color: white;
    color: black;
    text-align: center;
}

.box3 {
    background-color: white;
    color: black;
    text-align: center;
}

.moviegrid {
    background: black;
    min-height: 100vh;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;

}

.alsolikegrid {
    background: black;  
    display: grid; 
    grid-gap: 0.5em; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    padding: 40px; 
    align-items: center;
}

.trailergrid {
    background:black; 
    display: grid; 
    grid-template-rows: 1fr;
    padding: 40px;
    align-items: center;
    position: flex;
    width: 100%;
    
}

.allmoviesgrid {
    background: black;  
    display: grid; 
    grid-gap: 0.5em; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 40px;
    align-items: center; 
}

@media (max-width: 1000px) {
    .movie-container {
    display: flex;
    flex-direction: column;
    gap: 10px;


    

    
  }
    .text-image {
        position: relative; 
        width: 100%;
        text-align: center;
        padding: 5px;

        
    }

    .button1 {
        position: relative;
        margin: auto;
        margin-bottom: auto;
 

    }
    .aboutgrid {
        display: flex;

     
        

    }
}

.h2align {
    text-align: center;
}

.pmovie {
    width: 50%;
    text-align: left;
    position: relative;
}

.pmovie1 {
    width: 50%;
    text-align: left;
    position: relative;
    padding-top: 100px;
}

.pricemovie {
    width: 50%;
    text-align: left;
    position:relative;
    font-weight: bold; 
    font-size: 1.5rem;
}



.playbutton {
    position: absolute;
    width: 50%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);

   
}

.ordersummary {
    background: white;
    color: black;
    text-align: left;
    padding: 50px; 
    width: 70%;
    align-items: center;
    position: relative; 
    
}


.totalprice {
    text-align: left;
    padding-left: 100px; 
    padding-right: 100px; 
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;  
    
}

.rightprice {
    text-align: right;
    padding-left: 100px; 
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;

}

.form {

    background: white; 
    color: black; 
    padding: 90px; 
    width: 70%; 
    position: relative; 

}

.p2 {
    font-weight: bold;
    font-size: 1rem;
}

.cobutton {
    background: rgb(38, 193, 38);
    color: white;
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    text-decoration: solid; 
    text-transform: uppercase;

}

.leftalign {
    text-align: left;
}

.position-some-icons {
    height: 50px; 
    width: 50px; 
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: auto;
    


    

    
}



header{grid-area: header;}
main{grid-area: main;}
aside{grid-area: aside;}
footer{grid-area: footer;}
